/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/css
/public/images
/public/js
/public/files
/public/_resources
/storage/img
/storage/_resources
/.gitattributes
/.idea
/.vscode
/.vagrant
.editorconfig
laravel-echo-server.*
yarn.lock
